:root{
    --accent-color: #2196F3;
    --primary-black: #212121;
    --primary-grey: #757575;
    --white: #ffffff;
    --background-black: #2F303A;
    --background-grey: #F5F4FA
}
body{
    font-family: roboto, -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;;
    color: var(--primary-grey);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.logo{
    font-family: Raleway, -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}
.web-in-logo{
    color: var(--accent-color)
    ;
}
.main-nav a{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-black);
    text-decoration: none;
}
.main-nav .current-page{
    color: var(--accent-color);
}
.main-nav a:hover,
.main-nav a:focus {
    color: var(--accent-color);
}
.hero{
    background-color: var(--background-black)
}
.hero-title{
    color: var(--white)
}
.contacts-header a{
    color:var(--primary-grey);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

}
.contacts-header a:hover,
.contacts-header a:focus,
.contacts-footer .main-adress:hover,
.contacts-footer .main-adress:focus,
.contacts-footer a:hover,
.contacts-footer a:focus
{
    color: var(--accent-color);
}
.contacts-footer a {
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-footer .main-adress{
    color: var(--white);
}

.benefits h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-black);
}
.what-are-we-doing h2,
.our-team h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-black);
}
.our-team h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--primary-black);
}
.sorting button{
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--primary-black);
    background: #F5F4FA;
}
.sorting button:hover,
.sorting button:focus{
    background-color: var(--accent-color);
    color:var(--white)

}
.examples h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-black);
}
.examples a{
    text-decoration: none;
}
.examples p{
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-grey);
}